<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
    background-image:url(https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483__340.jpg);
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Registration Page</title>
</head>
<body>
<div class="container mt-5">
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <center><h1>Registration page</h1></center>
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <!--        <small id="emailHelp" class="form-text text-muted"></small>-->
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" name="phone" placeholder="Enter phone number">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">Regster</button>
        </center>
    </form>
</div>
</body>
</html>
