<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container my-5">
    <h2 class="text-center mb-5">Our Services</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Cleaning</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Our cleaning services team is dedicated to providing a thorough and efficient
                        cleaning experience for your home.
                      .</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Electrician</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">specializes in electrical systems and provides services such as installation, repair, and maintenance of electrical equipment</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Plumbing</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">specializes in plumbing systems and provides services such as installation, repair, and maintenance of pipes, fixtures, and other plumbing components</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
        <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Driver</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">operates a vehicle to transport residents and/or run errands.
                      .</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Gardener</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">takes care of the lawn, garden and landscaping of the home..</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Security guard</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">responsible for the security of the property and residents.</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
        <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                     <h4 class="my-0">Mechanic</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">specializes in the maintenance and repair of vehicles and machinery, including cars, trucks, and power equipment.
                      .</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Pet caretaker</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">Pet caretaker takes care of all kins of pets including feeding, walking and grooming taking care of health</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0">Nanny /Babysitter
</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">takes care of children, including supervision, meal preparation, and educational activities.</p>
                    <a href="#" class="btn btn-sm btn-outline-secondary">Learn More</a>
                </div>
            </div>
        </div>

    </div>
</div>
    {% include 'footer.html' %}

</body>
</html>